{% extends "base.html" %}
{% block body %}
<style>
.container1{
    border-radius: 20px;
    height: 20px;
}


</style>
<div class="container">
<form action="" class="container border rounded-bottom">
<div class="container1">
<p><b>Login</b></p>
<input type="email" name="email" id="email" size="30px">
<p><b>Password</b></p>
<input type="password" name="password" id="password" size="30px">
<br>
<br>
<br>
<button class="btn btn-primary" type="submit">Login</button>


</div>



</form>




</div>

{% endblock body %}